.button-bg-primary {
  background: linear-gradient(
    to right,
    rgba(var(--call-to-action-color), 1),
    rgba(var(--call-to-action-color), 1)
  );
  color: rgb(var(--light-color));
  transition: background 1s ease-in-out;
}

.button-bg-primary:hover {
  background: linear-gradient(
    to right,
    rgba(var(--call-to-action-color), 0.8),
    rgba(var(--call-to-action-color), 0.1)
  );
}
