.button-bg-primary {
  background-color: rgb(var(--call-to-action-color));
  color: rgb(var(--light-color));
}

.button-bg-primary:hover {
  background-color: rgba(var(--call-to-action-color));
}

.button-bg-primary-muted {
  background-color: rgba(var(--call-to-action-color), 0.5);
  color: rgb(var(--light-color));
}
