:root {
  --call-to-action-color: 212, 175, 55;
  --light-color: 255, 255, 255;
  --dark-color: 28, 28, 28;
  --overlay-color: 0, 0, 0;
  --light-paragraph-text: 224, 224, 224;
  --dark-paragraph-text: 51, 51, 51;
}

.text-light {
  color: rgb(var(--light-paragraph-text));
}

.text-dark {
  color: rgb(var(--dark-paragraph-text));
}

.text-call-to-action {
  color: rgb(var(--call-to-action-color));
}

.bg-dark {
  background-color: rgb(var(--dark-color));
}
